---
import Image from '~/components/common/Image.astro';
import image1 from '~/assets/images/david-cafe.svg';
import image2 from '~/assets/images/david-cafe-eye.svg';

const {
  title,
  subtitle1,
  subtitle2,
} = Astro.props;

console.log(image1, image2);
---

<section class="overflow-hidden flex flex-col items-center justify-center">
  <script>
    function toggleImage() {
      const image1 = document.getElementById('image1');
      const image2 = document.getElementById('image2');
      image1.classList.toggle('opacity-0');
      image2.classList.toggle('opacity-0');
    }
    const contactButton = document.getElementById('contact-button');
    contactButton.addEventListener('mouseenter', toggleImage);
    contactButton.addEventListener('mouseleave', toggleImage);
    
  </script>
  <div class="flex items-center justify-center max-w-7xl xl:ml-8 w-full">
    <div class="h-fit relative w-3/5 ml-5 lg:ml-8 flex-grow">
      <h2 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
        {title}
      </h2>
      <p class="text-3xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
        {subtitle1}
      </p>
      <p class="sm:text-center text-xl md:text-2xl">
        {subtitle2}
      </p>
      <div class="flex flex-row justify-center mt-5">
        <a href="#_" class="btn ml-2 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm border-2" id="contact-button">
          Contact me
        </a>
      </div>

    </div>
    <div class="relative h-[60vh] w-1/2 md:h-[90vh] overflow-visible">
        <>
          <img
            src={image1.src}
            id="image1"
            alt="A digital illustration of David Barbier"
            class="overflow-visible absolute right-10 object-cover md:object-fill h-[60vh] md:h-[90vh] text-main-text"
            sizes="95vh, (min-width: 768px) 80vh, (min-width: 1024px) 60vh, (min-width: 1280px) 40vh"
          />
          <img
            src={image2.src}
            id="image2"
            alt="A digital illustration of David Barbier winking"
            class="overflow-visible absolute right-10 object-cover md:object-fill h-[60vh] md:h-[90vh] text-main-text opacity-0"
            sizes="95vh, (min-width: 768px) 80vh, (min-width: 1024px) 60vh, (min-width: 1280px) 40vh"
          />
        </>
    </div>
  </div>
</section>


