---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';
import { getLocaleFromUrl, useTranslations } from '~/i18n/translator';

export async function getStaticPaths ({ paginate }) {
  return await getStaticPathsBlogList({ paginate });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;
const locale = getLocaleFromUrl(Astro.url);
const { t } = useTranslations(locale);

const allCategories = ["blog", "portfolio"];
const allTags = await page.data.reduce((acc, post) => {
  post.locales[locale].tags.forEach(tag => {
    if (!acc.includes(tag)) {
      acc.push(tag);
    }
  });
  return acc;
}, []);

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description: locale === "en" ? `Discover the latest articles from David Barbier's blog.` : `Découvrez les derniers articles du blog de David Barbier.`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};

---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle={t('blog.subtitle')}
    >
      {t('blog.title')}
    </Headline>
    <BlogList posts={page.data.map(p => p.locales[locale]).filter(p => p.category != 'portfolio')} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} prevText={t('blog.prev')} nextText={t('blog.next')} />
    
    <PostTags tags={allCategories} class="mb-2" title={t('blog.searchCategories')} isCategory />
    <PostTags tags={allTags}  title={t('blog.searchTags')} />
   
  </section>
</Layout>
